.notOrder {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    margin-top: 180px;
}

.notOrderImg {
    width: 100px;
}

.notOrderText {
    font-size: 16px;
    color: var(--mantine-color-gray-7);
    font-weight: 500;
}