.image {
    display: inline-block;
    width: 100px;
    height: 100px;
}



.grayText {
    font-size: 14;
    font-weight: 400;
    color: var(--mantine-color-gray-6);
    line-height: 20px;
}

.info {
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    color: var(--mantine-color-gray-9);
}

.block {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    
    align-items: center;
}
.line {
    width: 1px;
    height: 44px;
    background-color: var(--mantine-color-gray-4);
}