.image {
    display: inline-block;
    width: 72px;
    height: 72px;
    flex-shrink: 0;
}
.title {
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    color: var(--mantine-color-gray-9);
}
.info {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: var(--mantine-color-gray-6);
}
.infoPrice {
    color: var(--mantine-color-gray-9);
    margin-left: 4px;
}