.root {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.container {
  width: 100%;
  height: 100%;
  
  margin: 0 auto;
  padding: 0 16px;
  margin: 45px 0;
}
.flexBlock {
  display: flex;
  flex-direction: column;
  height: 100%;
}