.wrapper {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;

  padding: 12px 16px 0 16px;
  padding-bottom: calc(20px + env(safe-area-inset-bottom));

  border-radius: 12px 12px 0px 0px;
  border-top: 1px solid var(--mantine-color-gray-3);
  background: var(--mantine-color-gray-1);
}

.emptyDiv {
  height: 120px;
}
